<nav class="navbar">
    <div class="container">
        <div class="ui-g" style="margin: 16px;">
            <div class="ui-g-12">
                <a href="javascript:;" class="navbar-toogle" (click) ="exibirMenu =!exibirMenu"><i class="pi pi-bars"></i></a>
            </div>
        </div>
    </div>
    <ul class="navbar-menu" [hidden] =!exibirMenu>
        <li class="user-admin">Daniel</li>
        <li class="navbar-item"><a href="javascript:;">Lançamentos</a></li>
        <li class="navbar-item"><a href="javascript:;">Pessoas</a></li>
        <li class="navbar-item"><a href="javascript:;">Receitas</a></li>
        <li class="navbar-item"><a href="javascript:;">Despesas</a></li>
        <li class="navbar-item"><a href="javascript:;">Logout</a></li>
    </ul>  
</nav>